modules = ["nodejs-20", "postgresql-16"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_NO_DAEMON=1 REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --tunnel --no-web"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "API Server"
author = 38320710

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node api/server.js"

[[workflows.workflow]]
name = "Run All"
author = 38320710

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev & node api/server.js"

[[workflows.workflow]]
name = "Start API Server"
author = 34949249

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node api/server.js"

[[workflows.workflow]]
name = "Dev Server for Expo Go"
author = 38320710
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel"

[[workflows.workflow]]
name = "Dev Server (Port 8082)"
author = 34949249
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel --port 8082"

[deployment]
run = ["sh", "-c", "npm run start"]
